@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;800&family=Orbitron:wght@400;600;900&display=swap');
/* Grundlegende Variablen */
:root {
    --primary: #1c1c1c;
    --primary-dark: #151515;
    --primary-light: #2c2c2c;
    --accent: #a3c257;
    --accent-secondary: #314023;
    --accent-bright: #dff0bd;
    --dark: #1c1c1c;
    --light: #f5f5f5;
    --glass: rgba(255, 255, 255, 0.1);F
    --glass-dark: rgba(0, 0, 0, 0.2);
}

/* Reset und Basisstile */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: var(--accent) var(--primary-dark);
}

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: var(--primary-dark);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--accent);
    border-radius: 10px;
}
body {
    font-family: 'Montserrat', sans-serif !important;
    background: #1c1c1c;
    color: var(--light);
    min-height: 100vh;
    overflow-x: hidden;
}
/* Hauptnavigation */
body.v3 .nav-filler {
    display: block;
    height: 0px !important;
}

body.v3.page-home .banner .container-fluid .center-block {
    margin: 0;
    width: 100%;
}

body.v3.page-home .banner .container-fluid .center-block .row {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
